<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Locations</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>All Locations</h1>
  <ul>
    <% locations.forEach(loc => { %>
      <li>
        <a href="/locations/<%= loc.seo_name %>"><%= loc.location %></a>
      </li>
    <% }) %>
  </ul>
  <a href="/admin">Go Back to Admin</a>
</body>
</html>
